bin/
obj/
node_modules/
dist/
src/kawayan.API/wwwroot/assets/
src/kawayan.API/wwwroot/index.html
*.user
*.suo
.vs/
.env
.env.local
.env.*
!.env.example
_docker-test-publish
appsettings.Development.json
**/appsettings.Development.json
